doctype html
html
  head
    title= "Users List"
    link(rel="icon", href="/icons/pug.png") 
    style.
      body {
        background-color: #fecfff;
      }
      ul {
        background-color: #fff;
      }
      li {
        display: flex;
        align-items: center;
        list-style-type: decimal;
      }
      img {
        width: 20px;
      }
  body
    h1= "Users List"
    ul
      each user in users
        li
          img(src="/icons/pug.png", alt="Pug Icon")
          h3= user.name